#map {
    height: 500px;
    width: 500px;
}

button {
    margin: 5px;
}

#results-container {
    border: solid black 1px;
    padding: 10px;
    width: 400px;
}

#results-container>p {
    display: flex;
    flex-direction: column;
    margin: 9px;
}